/* --------- COLOR PALETTE (Sunset Vibes) ----------
   Pink:      #ff6fb5
   Hot Pink:  #ff3e8e
   Purple:    #8b3dff
   DarkPurple:#3d1a78
   Sunset:    #ff9f68
   Gold:      #ffd369
-------------------------------------------------- */
/* SemiBold Italic */
@font-face {
    font-family: "RedHatDisplay-Semibold";
    src: url("photos/RedHatDisplay-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;   /* SemiBold */
    font-style: italic;
}

/* Black (regular style) */
@font-face {
    font-family: "RedHatDisplay-Black";
    src: url("photos/RedHatDisplay-Black.ttf") format("truetype");
    font-weight: 900;   /* Black */
    font-style: normal;
}


/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

